<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->

<!--</body>-->
<!--</html>-->



<!DOCTYPE HTML>
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

dobra, działa<br/>

Masz to swoje<br/>
<font color="PINK" >Hello World!</font></BIG>

<!--<p th:text="'Hello, ' + ${name} + '!'" />-->
</body>
</html>